@import 'https://fonts.googleapis.com/css?family=Roboto';
body{
  font-family: 'Roboto', verdana;
  background: #5C2b8d;
  background: -webkit-linear-gradient(to left, #5c258d,#4389a2);
  background: linear-gradient(to left, #5c258d,#4389a2);
}

.TODO{
  box-shadow: 0 0 10px rgba(0,0,0,0,5);
  background: #f7f7f7;
  margin: 100px auto;
  width: 360px;
}
.TODO__header{
  text-transform: uppercase;
  background: #2980b9;
  color:white;
  font-weight: normal;
  font-size: 24px;
  padding: 10px 20px;
  margin: 0;
}
.TODO__header .fa-plus{
  float: right;
}
.TODO__input{
  font-size: 18px;
  color: #2980b9;
  background: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}
.TODO__input:focus{
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}
.TODO__list{
list-style: none;
margin: 0;
padding: 0;
}
.TODO__item{
  background: #FFFFFF;
  height: 40px;
  line-height: 40px;
  color: #666;
}
.TODO__item:nth-child(2n){
  background: #f7f7f7;
}
.TODO__item--complete{
  color:gray;
  text-decoration: line-through;
}
.TODO__remove{
  transition: 0.2s linear;
  display: inline-block;
  background: red;
  margin-right: 20px;
  text-align: center;
  color: white;
  height: 40px;
  width: 0;
  opacity: 0;
}
.TODO__item:hover  .TODO__remove{
  width: 40px;
  opacity: 1;
}
